body{
    margin-top: 12%;
   margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(0, 0, 0, 0.863);
  font-size: x-large;
  font-family: monospace;
  color: rgb(255, 255, 255);
}
h2{
  font-size: 26px;
}
button{
  background-color: rgba(187, 187, 187, 0.329);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 99PX;
  border-style:hidden;
}
div{
  border: 4px rgba(255, 255, 255, 0.863) double;
  border-radius: 999%;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
hr{
  border-radius: 99%;
  border-color: rgba(255, 255, 255, 0.733);
}
#hr{
  border-radius: 99%;
  border-color: rgb(255, 255, 255);
}
#hr2{
  border-radius: 99%;
  border-color: rgb(255, 255, 255);
  border-style:ridge;
}